.cars{
    background-color: aqua;
    border: 2px solid red;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
.fruits{
    background-color: #1446a3;
    border: 2px solid #dfae0c;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
.CARS{

}
#wanafunzi{
    background-color: orange;
}